
body {
    font-size: 16px !important;
    text-align: center;
    color: #4d4d4d !important;
    
}

.jumbotron {
    background-image: url("../Images/cosmo.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding:0 !important;
   
}

#jumbo {
    padding-left:0 !important;
    padding-right:0 !important;
}

#logo {
    height: 150px;   
}

#logo_jumbo {
     height: 250px;
     margin-top:-11%;
     margin-left: 5%;
}
#traka {
    background-color:rgba(255,255,255,0.5);
    height:160px;
    min-width: 100%;
    margin-top: 20%;
}

.bordered{
    border-top: 2px solid #1f6185;
    margin-top: 2%;
    margin-bottom: 2%;
}
.navbar-default {
    background-color: rgba(255,255,255,0) !important;
    border: none !important;
    font-size: 20px;
    
}
.menu {
    margin-left:12%;
}

.menu>li>a {
    color: #1f6185 !important;
    padding: 15px 80px !important;
}

.menu>li>a:hover {
    padding: 15px 80px !important;
    color: #000 !important;
}

h2 {
    color: #1f6185 !important;
    text-transform: uppercase;
    text-align: center;
}


#menu-down {
    margin-top: 13%;
    font-size:52px;
    color: #737373 !important;
}

footer {
    text-align: center;
    background-color: #1f6185;
    color: white;
    height: 75px;
    max-width: 100%;
    padding-top: 1%;
}
